In [11]:
#1

x=[]

for y in range(1500, 2701):
    if (y%7==0) and (y%5==0):
        x.append(y)
print (x)

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

In [14]:
#2

x = int(input("To Convert Celsius to Fahrenheit type 1 \nTo Convert Fahrenheit to Celsius type 2\n "))

if x == 1:
    y = float(input("Temperature in Celsius = "))
    print("Temperature in Fahrenheit = ",y*(9/5)+32)
elif x == 2 :
        z = float(input("temperature in fahrenheit = "))
        print("Temperature in Celsius = ",(z-32)*(5/9))
else:
    print("try again")

To Convert Celsius to Fahrenheit type 1
To Convert Fahrenheit to Celsius type 2
 1
Temperature in Celsius = 25
Temperature in Fahrenheit =  77.0

In [15]:
#3

x = 5

for y in range(0, x):
    for z in range(0, y + 1):
        print("*", end=" ")
    print("\r")

for y in range(x, 0, -1):
    for z in range(0, y - 1):
        print("*", end=" ")
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [10]:
#4

x = list(input())

for i in range(len(x)-1,-1,-1):
    print(x[i],end="")

mohammed
demmahom

In [6]:
#5

a = int(input("First Number = "))
b = int(input("Second Number = "))
c = int(input("Third Number = "))

def max_num(a,b,c):
    if a>b and a>c:
        return print("Max is ",a)
    elif b>a and b>c:
        return print("Max is ",b)
    elif c>a and c>b:
        return print("Max is ",c)
    
max_num(a,b,c)

First Number = 9
Second Number = 3
Third Number = 6
Max is  9

In [8]:
#6

x = [2,6,9,10,4,7]

def sum_all(a):
    sum_a = 0
    for i in range(0,len(a)):
        sum_a = sum_a + a[i]
    return print(sum_a)

sum_all(x)

38

In [25]:
#7

for x in range(0,7):

    if x == 3 or x == 6:
        continue
    print(x)

0
1
2
4
5

In [1]:
#8

x = int(input("input the number "))

def fact(a):
    b = 1
    for i in range(a,0,-1):
        b = b * i
    return b

print("The Factorial is ",fact(x))

input the number 5
The Factorial is  120

In [18]:
#9

x=[1,1,2,2,"a","a",4,5,6,"m","m",7,8,9]

def unique(a):
    b = []
    for c in a:
        if c not in b:
            b.append(c)
    return b       

print(unique(x))

[1, 2, 'a', 4, 5, 6, 'm', 7, 8, 9]

In [20]:
#10

a = lambda x : x+15
print(a(11))

#Bonus

b = lambda x, y : x*y
print(b(8, 5))

26
40